<div class="main-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><span class="light-green-color">{{'{'}}</span> JSON Formatter <span
        class="light-green-color">{{'}'}}</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="row green-color">
    <div class="col-5 editor-padding">
      <json-editor  [options]="editorOptions" (change)="showJson($event)"></json-editor>
    </div>
    <div class="col-2 mt-100">
      <button type="button" class="btn btn-outline-primary btn-format" (click)="formatJson()">Format</button>
    </div>
    <div class="col-5 editor-padding">
      <json-editor [options]="editorOptions" [data]="formatedOutput"></json-editor>
    </div>
  </div>
</div>